*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

#awsamplifyjs
amplify/\#current-cloud-backend
aws-info.json
aws-exports.*
amplify/backend/function/*/src/node_modules/
amplify/backend/function/*/dist/

